html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column; 
}

.container {
    flex: 1; 
    padding: 20px;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

h1 {
    color: #343a40; 
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: 'Ernest', sans-serif;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.btn {
    display: inline-block;
    padding: 8px 10px;
    margin: 1px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    min-width: 150px;
}

.btn:hover {
    opacity: 0.9;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%; 
}

.footer-content p {
    margin: 5px 0;
}

.contact-info {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 5px 0;
}

.contact-info a {
    color: #00aaff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem; 
    }

    .button-container {
        flex-direction: column; 
        align-items: center; 
    }

    .btn {
        min-width: 100%; 
    }

    footer {
        font-size: 0.9rem; 
        padding: 10px; 
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 2.5rem; 
    }

    .button-container {
        flex-direction: row; 
    }

    .btn {
        min-width: 120px; 
    }

    footer {
        font-size: 1rem; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 3rem; 
    }

    .btn {
        min-width: 150px; 
    }

    footer {
        font-size: 1.1rem; 
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    h1 {
        font-size: 3.5rem; 
    }

    .btn {
        min-width: 160px; 
    }
}

@media (min-width: 1201px) {
    h1 {
        font-size: 4rem; 
    }

    .btn {
        min-width: 180px; 
    }
}
